// skills section styles
.skills {
    padding: 8% 0;
    h2 {
        text-align: center;
    }

    // inner content wrapper
    .content {
        max-width: 900px;
    }

    // icons container
    .skillIcons {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }

    // icons
    .skillIcons {
        i {
        font-size: 50px;
        color: #cccccc;
        }
        svg {
            width: 50px;
            height: 50px;
        }
    }

    // labels
    .skillIcons p {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
    }
    
    // individual icon container
    .skill {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}