footer {
    // Photo by Michael Benz on Unsplash
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255,255,255, 0.5)), url(../assets/footerBackground.jpg);
    background-size: cover;
    background-position: 50% 60%;
    padding: 8%;
    color: black;
    text-align: center;
    .content {
        width: 40%;
        text-align: center;
    }
    
}