html {
    font-size: 125%;
}

.content { 
    width: 53%;
    margin: 0 auto;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1.5rem;
}