header {
    // Photo by Asher Ward on Unsplash
    background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../assets/headerBackground.jpg);
    height: 75vh;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        display: flex;
        justify-content: space-around;
    }
    .text {
        width: 45;
    }
}

.headshot {
    // width: 400%;
    padding-right: 10%;
    img {
        width: 100%;
        display: inline-block;
    }
}

// linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),