header {
    // Photo by Asher Ward on Unsplash
    background: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(../assets/headerBackground.jpg);
    min-height: 65vh;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .text {
        width: 50%;
    }
    i {
        font-size: 1.4rem;
        transition: 0.2s;
        &:hover {
            color: $primary;
        }
    }
}

.headshot {
    width: 45%;
    padding-right: 5%;
    img {
        width: 100%;
        display: inline-block;
    }
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1% 1%;
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        margin-right: 10px;
        li {
            padding: 0px 10px;
        }
        a {
            color: black;
            transition: 0.2s;
            &:hover {
                color: $accent;
            }
            &:focus {
                color: $accent;
            }
        }
    }
}

.navButton {
    border: none;
    background: none;
    color: black;
    &:focus,
    &:hover {
        border: none;
        color: $accent;
    }
    
}

.hide {
    display: none;
       
}

.headerLine {
    background: black;
    width: 50px;
    height: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
}

p.about {
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: rgb(45, 45, 45);
    opacity: 0.85; 
    font-weight: 300;
}