article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%;
  scroll-behavior: smooth; }

.wrapper {
  max-width: 1800px;
  margin: 0 auto; }

.content {
  width: 60%;
  margin: 0 auto; }

h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  margin-top: 0px;
  margin-bottom: 5px; }

h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: black; }

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #d86034; }

.sectionLine {
  background: black;
  width: 1px;
  height: 100px;
  position: absolute;
  top: 90%; }

img {
  width: 100%; }

a {
  display: inline-block;
  text-decoration: none; }

.link,
button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-right: 10px;
  margin-bottom: 10px; }
  .link:hover,
  button:hover {
    background: #cccc; }
    .link:hover .linkArrow,
    button:hover .linkArrow {
      color: black; }
    .link:hover p,
    button:hover p {
      border-right: 1px solid rgba(204, 204, 204, 0); }
  .link p,
  button p {
    margin: 0;
    padding: 10px;
    border-right: 1px solid white; }
  .link .linkArrow,
  button .linkArrow {
    padding: 10px; }

a:focus .link {
  background: #cccc; }
  a:focus .link .linkArrow {
    color: black; }
  a:focus .link p {
    border-right: none; }

button {
  background: black;
  padding: 0;
  border: 1px solid black; }
  button:hover {
    background: none;
    color: black; }
  button p {
    border-right: none; }

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(../assets/headerBackground.jpg);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../assets/headerBackground.jpg);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../assets/headerBackground.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../assets/headerBackground.jpg);
  min-height: 65vh;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  header .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  header .text {
    width: 50%; }
  header i {
    font-size: 1.4rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    header i:hover {
      color: #cccc; }

.headshot {
  width: 45%;
  padding-right: 5%; }
  .headshot img {
    width: 100%;
    display: inline-block; }

nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1% 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1rem; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-right: 10px; }
    nav ul li {
      padding: 0px 10px; }
    nav ul a {
      color: black;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      nav ul a:hover {
        color: #d86034; }
      nav ul a:focus {
        color: #d86034; }

.navButton {
  border: none;
  background: none;
  color: black; }
  .navButton:focus, .navButton:hover {
    border: none;
    color: #d86034; }

.hide {
  display: none; }

.headerLine {
  background: black;
  width: 50px;
  height: 5px;
  margin-top: 15px;
  margin-bottom: 30px; }

p.about {
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: #2d2d2d;
  opacity: 0.85;
  font-weight: 300; }

.skills {
  padding: 8% 0; }
  .skills h2 {
    text-align: center; }
  .skills .skillIcons {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center; }
  .skills .skillIcons i {
    font-size: 50px;
    color: #cccccc; }
  .skills .skillIcons p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem; }
  .skills .skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.portfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/portfolioBackground.jpg);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/portfolioBackground.jpg);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/portfolioBackground.jpg);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/portfolioBackground.jpg);
  background-size: cover;
  position: relative; }
  .portfolio h2 {
    color: white; }
  .portfolio .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .portfolio .info, .portfolio .siteImage {
    width: 50%; }
  .portfolio .siteImage {
    max-height: 500px; }
  .portfolio .info {
    padding: 5% 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 0.9rem; }
  .portfolio .scroll {
    overflow-y: scroll; }
  .portfolio .description {
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin-bottom: 25px; }
    .portfolio .description a {
      text-decoration: none;
      color: darkgray; }
      .portfolio .description a:hover, .portfolio .description a:focus {
        color: #d86034;
        text-decoration: underline; }

.portfolioLine {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(50%, black));
  background: -webkit-linear-gradient(top, white 50%, black 50%);
  background: -o-linear-gradient(top, white 50%, black 50%);
  background: linear-gradient(to bottom, white 50%, black 50%);
  width: 1px;
  height: 100px;
  position: absolute;
  top: 97.5%;
  left: 50%; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8% 0%;
  padding-bottom: 0%; }
  .contact h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.3rem; }
  .contact input[type=text],
  .contact textarea {
    border: 1px solid #cccc;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .contact input[type=text]:focus,
    .contact textarea:focus {
      border: 1px solid #0c1e13; }
  .contact button {
    margin: 0 auto; }

.upperForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px; }
  .upperForm input {
    width: 30%; }

.lowerForm {
  margin-bottom: 25px; }
  .lowerForm textarea {
    width: 100%;
    height: 200px; }

.contactLinks {
  width: 40%;
  margin: 0 auto; }
  .contactLinks .email {
    font-weight: 300;
    font-size: 0.9rem;
    padding: 5px 0px;
    text-align: center; }
  .contactLinks ul {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.4rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .contactLinks a {
    color: black;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s; }
    .contactLinks a:hover, .contactLinks a:focus {
      color: #d86034; }

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.5))), url(../assets/footerBackground.jpg);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)), url(../assets/footerBackground.jpg);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)), url(../assets/footerBackground.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)), url(../assets/footerBackground.jpg);
  background-size: cover;
  background-position: 50% 60%;
  padding: 8%; }

@media (max-width: 1050px) {
  header .content {
    padding: 10% 0%; }
  .sectionLine {
    top: 92%; }
  .skills .content {
    width: 75%; }
  .portfolio .info {
    padding: 1% 10%; } }

@media (max-width: 1000px) {
  .portfolio {
    padding-bottom: 50px; }
    .portfolio .item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 50px 0px; }
      .portfolio .item .info {
        padding: 50px 0px; }
      .portfolio .item .info,
      .portfolio .item .siteImage {
        margin: 0 auto; }
      .portfolio .item .siteImage {
        overflow: hidden;
        min-height: 300px;
        -webkit-box-shadow: -10px -10px 0px #d86034;
        box-shadow: -10px -10px 0px #d86034; }
    .portfolio .reverse {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
  .portfolioLine {
    height: 75px;
    top: 99%; }
  .contactLinks {
    width: 80%; } }

@media (max-width: 900px) {
  header .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15% 0; }
    header .content .headshot {
      margin: 25px 0;
      width: 55%; }
  .sectionLine {
    top: 95.5%; }
  .portfolio .info,
  .portfolio .siteImage {
    width: 80%; }
  .contact .upperForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contact .upperForm input {
      width: 100%;
      margin-bottom: 10px; } }

@media (max-width: 800px) {
  .skills .content {
    width: 80%; }
  .skills .skillIcons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .skills .skill {
    width: 100px; } }

@media (max-width: 550px) {
  header .text {
    width: 80%; }
  .sectionLine {
    height: 75px; }
  .contact .content {
    width: 90%; } }

@media (max-width: 450px) {
  .portfolio .siteImage {
    min-height: 100px;
    max-height: 400px; } }
